body{
    background: linear-gradient(to bottom, #FFFFCC 40%, #99CCFF 60%);
    background-attachment: fixed;
    margin: 0;
    padding: 30px;
    color: #333333;
}

table[border="1"] {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #4a5568 !important;
}

table[border="1"] th {
    background-color: #2d3748;
    color: #ffffff;
}

table[border="1"] td {
    border-color: #4a5568;
}

h1, h3 {
    color: #7427a1;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    margin: 30px 0;
}

.gallery img {
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(204, 182, 182);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.gallery .main {
    width: 260px;
    height: 260px;
    z-index: 2; 
}

.gallery .side {
    width: 180px;
    height: 180px;
    opacity: 0.75; 
    transform: scale(0.9); 
}

video {
    border-radius: 14px;
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);

    border: 2px solid rgba(255, 255, 255, 0.1);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

video:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
}

audio {
    display: block;
    margin: 20px auto;
    filter: invert(0.88) hue-rotate(180deg);
    border-radius: 30px;
}